---
import Slider from '@/components/parts/About/Slider.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const props = {
	slug: 'about',
	title: 'About',
};
---

<BaseLayout {...props}>
	<div class="container">
		<a
			href="https://spicato.com/"
			target="_blank"
			rel="noopener noreferrer"
		>
			spicatoへ
		</a>

		<div class="spacer"></div>

		<h1 class="about">About</h1>

		<p class="text">
			ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
		</p>

		<div class="slider">
			<Slider />
		</div>
	</div>

	<Fragment slot="before-close-head">
		<script>
			import '@js/pages/about.js';
		</script>
	</Fragment>
</BaseLayout>
