---
import Button from '@/components/core/Button/Button.astro';
---

<header class="lHeader">
	<div class="lHeader__inner">
		<a href="/" class="link">Home</a>
		<a href="/about" class="link">About</a>

		<Button>Click me</Button>
	</div>
</header>
