<footer class="lFooter">
	<div class="lFooter__inner">
		<strong class="lFooter__attention">
			<span lang="ja" translate="no">
				このサイトは、個人の趣味で制作されたものであり、
				<br />
				商用利用や営利目的での使用は禁止されています。
			</span>

			<span lang="en" translate="no">
				All content on this site is created for personal enjoyment and
				is not intended for commercial use or profit.
			</span>
		</strong>

		<small class="lFooter__copyright">
			&copy; 2026 Yuki Kanayama. All rights reserved.
		</small>
	</div>
</footer>
