@use '../global' as *;

.pHome {
	@include grid-container;

	width: 100%;
	min-height: 100vh;
	padding-top: spx(16);
	padding-bottom: spx(48);
}

.pHomeHeadline {
	grid-column: 2 / var(--grid-columns);
	font-size: srem-f(40);
}

.pHomeArchives {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 2 / var(--grid-columns);
	grid-auto-rows: min-content;
	margin-top: spx(64);

	&__list {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
		row-gap: spx(48);
	}

	&__item {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;

		&_link {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1 / -1;
		}

		&_head {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 1 / -1;
			align-items: center;

			&_title {
				grid-column: 1 / -3;
				font-size: srem-f(24);
			}

			&_icon {
				grid-column: -3 / -1;
				aspect-ratio: 1 / 1;
			}
		}

		&_contents {
			position: relative;
			z-index: 1;
			display: flex;
			grid-column: 1 / -1;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: spx(366);
			padding: spx(48);
			margin-top: spx(12);
			background-color: rgb(255 255 255 / 33%);
			border: 1px solid rgb(255 255 255 / 20%);
			border-radius: 2px;
			box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
			backdrop-filter: blur(2px);

			#bauhaus {
				width: auto;
				height: 100%;
			}
		}
	}

	&__pagination {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
		margin-top: spx(64);

		&_buttons {
			display: grid;
			grid-template-columns: subgrid;
			grid-column: 8 / -8;
		}

		&_button {
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 1 / 1;

			&_inner {
				width: 100%;
				aspect-ratio: 1 / 1;
				padding: spx(8);

				&[aria-disabled='true'] {
					display: none;
				}
			}

			&[data-direction='prev'] {
				grid-column: 1 / span 3;
				rotate: 180deg;
			}

			&[data-direction='next'] {
				grid-column: -4 / span 3;
			}
		}

		&_numbers {
			display: flex;
			grid-column: 3 / -3;
			align-items: center;
			justify-content: center;
			margin-top: spx(16);
		}

		&_number {
			display: flex;
			align-items: center;
			justify-content: center;

			&_inner {
				padding: spx(8) spx(16);
				font-size: srem-f(16);
			}

			&[aria-current='page'] {
				position: relative;
				pointer-events: none;

				&::after {
					position: absolute;
					width: 66%;
					height: 1px;
					content: '';
					background-color: var(--color-white);
				}
			}
		}
	}
}

@include pc {
	.pHome {
		padding-top: spx(48);
		padding-bottom: spx(96);
	}

	.pHomeHeadline {
		grid-column: 4 / calc(var(--grid-columns) - 2);
		font-size: srem-f(128);
	}

	.pHomeArchives {
		grid-column: 6 / calc(var(--grid-columns) - 4);
		margin-top: spx(128);

		&__list {
			row-gap: spx(64);
		}

		&__item {
			--_grid-column-width: calc((var(--grid-columns) - 11) / 3);

			grid-column-end: span var(--_grid-column-width);

			&_head {
				&_title {
					grid-column: 1 / -3;
					font-size: srem-f(32);
				}
			}

			&_contents {
				position: relative;
				z-index: 1;
				display: flex;
				grid-column: 1 / -1;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: spx(366);
				padding: spx(48);
				margin-top: spx(12);
				background-color: rgb(255 255 255 / 33%);
				border: 1px solid rgb(255 255 255 / 20%);
				box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
				backdrop-filter: blur(2px);

				#bauhaus {
					width: auto;
					height: 100%;
				}
			}

			&:nth-child(3n + 1) {
				grid-column-start: 1;
			}

			&:nth-child(3n + 2) {
				grid-column-start: calc(var(--_grid-column-width) + 2);
			}

			&:nth-child(3n + 3) {
				grid-column-start: calc(var(--_grid-column-width) * 2 + 2);
			}
		}

		&__pagination {
			margin-top: spx(96);

			&_buttons {
				grid-row: 1 / 2;
				grid-column: 11 / -11;
			}

			&_button {
				&_inner {
					padding: spx(12);
				}

				&[data-direction='prev'] {
					grid-column: 1 / span 2;
				}

				&[data-direction='next'] {
					grid-column: -3 / span 2;
				}
			}

			&_numbers {
				flex-wrap: wrap;
				grid-row: 1 / 2;
				grid-column: 14 / -14;
				margin-top: 0;
			}

			&_number {
				&_inner {
					padding: spx(12) spx(16);
					font-size: srem-f(20);
				}
			}
		}
	}
}
