@use '../global' as *;

.pSingle {
	position: relative;
	z-index: 1;

	&__inner {
		@include grid-container;

		width: 100%;
		min-height: 100svh;
		padding: spx(24) 0 spx(56);
	}

	&__back {
		display: flex;
		grid-column: 2 / var(--grid-columns);
		justify-content: flex-start;

		&_link {
			display: flex;
			gap: spx(8);
			align-items: center;
			justify-content: flex-start;
		}

		&_icon {
			width: spx(24);
			aspect-ratio: 1 / 1;
			rotate: 180deg;
		}

		&_text {
			font-size: srem-f(24);
		}
	}

	&__contents {
		@include backdrop-background;

		display: flex;
		grid-column: 2 / var(--grid-columns);
		align-items: center;
		justify-content: center;
		padding: spx(32);
		margin-top: spx(24);
	}
}

.is-morning {
	.pSingle {
		&__contents {
			@include backdrop-background-morning;
		}
	}
}

.is-afternoon {
	.pSingle {
		&__contents {
			@include backdrop-background-afternoon;
		}
	}
}

.is-evening {
	.pSingle {
		&__contents {
			@include backdrop-background-evening;
		}
	}
}

.is-night {
	.pSingle {
		&__contents {
			@include backdrop-background-night;
		}
	}
}

@include pc {
	.pSingle {
		position: relative;
		z-index: 1;

		&__inner {
			height: 100vh;
			padding: spx(48) 0 spx(80);
		}

		&__back {
			grid-column: 4 / calc(var(--grid-columns) - 2);

			&_link {
				gap: spx(16);
			}

			&_icon {
				width: spx(32);
			}

			&_text {
				font-size: srem-f(40);
			}
		}

		&__contents {
			grid-column: 8 / calc(var(--grid-columns) - 6);
			padding: spx(48);
			margin-top: spx(48);
			border-radius: 4px;
		}
	}
}
